GIT_PRIVATE_KEYFILE=/root/.ssh/id_ed25519
SYLLABUS_PROJECT=git@bitbucket.org:dmflickinger/rbe550_syllabus.git
SYLLABUS_DIR=rbe550_syllabus
ASSIGNMENTS_PROJECT=git@bitbucket.org:dmflickinger/rbe550_assignments.git
ASSIGNMENTS_DIR=rbe550_assignments
LECTURES_PROJECT=git@bitbucket.org:dmflickinger/rbe550_lectures.git
LECTURES_DIR=rbe550_lectures